<div class="d-none d-lg-block side-bar border-end border-secondary">

    <aside class="px-3 pt-4" style="position: sticky; top: 0">
        <nav class="d-flex flex-column">
            <a 
            class="item px-3 py-2 rounded-2 my-1" 
            [routerLink]="['/home']"
            routerLinkActive="active">
                Home
            </a>
            <a 
            class="item px-3 py-2 rounded-2 my-1" 
            [routerLink]="['/about']"
            routerLinkActive="active">
                About
            </a>
            <a 
            class="item px-3 py-2 rounded-2 my-1" 
            [routerLink]="['/projects']"
            routerLinkActive="active">
                Projects
            </a>
        </nav>
    </aside>

</div>
