<div class="d-none d-lg-block side-bar border-end border-secondary">



    <aside class="px-3 pt-4">

        <div class="item px-3 py-2 rounded-2 lh-1 cursor-pointer my-2 selected" routerLink="/home">
            <i class="bi me-2 bi-house-fill"></i>Home
        </div>
        <div class="item px-3 py-2 rounded-2 lh-1 cursor-pointer my-2" routerLink="/about">
            <i class="bi me-2 bi-person-walking"></i>About
        </div>
        <div class="item px-3 py-2 rounded-2 lh-1 cursor-pointer my-2" routerLink="/projects">
            <i class="bi me-2 bi-file-earmark-code-fill"></i>Projects
        </div>



        <!-- <button class="px-3 rounded-2 py-2 mb-1" routerLink="/home">
            <i class="bi me-1 bi-house"></i> Home
        </button>
        <button class="px-3 rounded-2 py-2 mb-1" routerLink="/about">
            <i class="bi me-1 bi-info-circle"></i> About
        </button>
        <button class="px-3 rounded-2 py-2 mb-1" routerLink="/projects">
            <i class="bi me-1 bi-file-earmark-code"></i> Projects
        </button> -->
        
    </aside>




</div>
