<div style="width: 230px; height: 100%;" class="bg-primary d-none d-lg-block">



    <aside class="px-3 pt-5">
        <a class="text-white px-3 rounded-2 bg-blue-darker py-2 mb-1 fw-medium d-block text-decoration-none" routerLink="/home">
            <i class="bi me-1 bi-house"></i> Home
       </a>
        <a class="text-white px-3 rounded-2 py-2 mb-1 fw-medium d-block text-decoration-none" routerLink="/about">
            <i class="bi me-1 bi-info-circle"></i> About
       </a>
        <a class="text-white px-3 rounded-2 py-2 mb-1 fw-medium d-block text-decoration-none" routerLink="/projects">
            <i class="bi me-1 bi-file-earmark-code"></i> Projects
        </a>
        
    </aside>




</div>
