<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-lg-5">

    <a class="navbar-brand" routerLink="/home">
      <!-- <img src="logo-serna.svg" alt="" height="40px"> --> Serna
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-bar">
      <div class="navbar-nav d-lg-none">
        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/about">About</a>
        <a class="nav-link" href="#">Resume</a>
      </div>
    </div>

    <div class="d-flex">

      <div class="px-3">
        
      </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-globe2"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#" id="ES" (click)="changeLanguage($event)">Spanish</a></li>
          <li><a class="dropdown-item" href="#" id="EN" (click)="changeLanguage($event)">English</a></li>
          <li><a class="dropdown-item" href="#" id="DE" (click)="changeLanguage($event)">German</a></li>
        </ul>
      </div>

      <div class="d-flex align-items-center justify-content-center" style="width: 4rem;">
        <div class="fw-medium">{{language}}</div>
      </div>

      <div class="d-flex">
        <button
        style="border: none;" 
        id="light" (click)="toggleTheme($event)"
        class="px-3 rounded-start-pill bg-gray-200 d-flex align-items-center">
          <i class="bi bi-brightness-high"></i>
        </button>
        <button
        style="border: none;" 
        id="dark" (click)="toggleTheme($event)"
        class="px-3 rounded-end-pill bg-gray-400 d-flex align-items-center">
          <i class="bi bi-moon-stars"></i>
        </button>
      </div>

      


    </div>


  </div>
</nav>
