<nav class="navbar navbar-expand-lg border-bottom border-secondary" 
style="background-color: var(--bs-primary);">
  <div class="container-fluid px-lg-5">

    <a class="navbar-brand" routerLink="/home">
      <div class="d-flex align-items-center">
        <i class="bi bi-arrow-through-heart lh-1 me-2 fs-3"></i>
        <div>Jorge Serna</div>
      </div>
      
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav-bar">
      <div class="navbar-nav d-lg-none">
        <a class="nav-link" routerLink="home">Home</a>
        <a class="nav-link" routerLink="about">About</a>
        <a class="nav-link" routerLink="projects">Projects</a>
        <div class="d-flex justify-content-center">

          <div class="dropdown">
            <button class="btn btn-yellow-400 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-globe2"></i>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item text-capitalize" type="button" (click)="changeLanguage('en')">
                  English
                </button>
              </li>
              <li>
                <button class="dropdown-item text-capitalize" type="button" (click)="changeLanguage('es')">
                  Spanish
                </button>
              </li>
            </ul>
          </div>

          <div class="d-flex align-items-center justify-content-center" style="width: 4rem;">
            <div class="fw-medium text-uppercase">{{currentLang()}}</div>
          </div>

          <div class="d-flex">
            <button
            id="light" 
            class="px-3 rounded-start-pill d-flex align-items-center btn-theme"
            (click)="onChangeTheme('light')">
              <i class="bi bi-brightness-high lh-1"></i>
            </button>
            <button
            id="dark" (click)="onChangeTheme('dark')"
            class="px-3 rounded-end-pill d-flex align-items-center btn-theme">
              <i class="bi bi-moon-stars lh-1"></i>
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="d-none d-lg-flex">

      <div class="dropdown">

        <button class="btn btn-yellow-400 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-globe2"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button 
            class="dropdown-item text-capitalize" 
            [class.active]="currentLang() === 'en'"
            type="button" 
            (click)="changeLanguage('en')">
              English
            </button>
          </li>
          <li>
            <button 
            class="dropdown-item text-capitalize" 
            [class.active]="currentLang() === 'es'"
            type="button" 
            (click)="changeLanguage('es')">
              Spanish
            </button>
          </li>

        </ul>
      </div>

      <div class="d-flex align-items-center justify-content-center" style="width: 4rem;">
        <div class="fw-medium text-uppercase">{{currentLang()}}</div>
      </div>

      <div class="d-flex">
        <button
        id="light" 
        class="rounded-start-pill d-flex justify-content-center align-items-center btn-theme"
        [class.text-gray-500]="currentTheme() !== 'light'"
        [class.text-black]="currentTheme() === 'light'"
        (click)="onChangeTheme('light')">
          <i class="bi bi-brightness-high lh-1"></i>
        </button>
        <button
        id="dark"
        class="rounded-end-pill d-flex justify-content-center align-items-center btn-theme"
        [class.text-gray-500]="currentTheme() !== 'dark'"
        [class.text-white]="currentTheme() === 'dark'"
        (click)="onChangeTheme('dark')">
          <i class="bi bi-moon-stars lh-1"></i>
        </button>
      </div>

      


    </div>


  </div>
</nav>
