<div class="hero-container py-5 text-center custom-bg-gradient text-black">

    <h2 class="fw-semibold text-uppercase m-0 p-0">{{section?.heroTitle}}</h2>
    <div class="my-3 fs-5">
        {{section?.heroText}}
    </div>

    
</div>




<div class="mt-5 d-flex justify-content-center">
    <div class="mx-4 rounded-4 py-3 px-4 custom-bg-item">
        <div class="fs-5 text-uppercase">
            About me
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero culpa dignissimos fugiat minima iure id.</p>
        </div>
        <div class="text-center">
            <button class="btn btn-black px-3">Take a look</button>
        </div>
    </div>
    <div class="mx-4 rounded-4 py-3 px-4 custom-bg-item">
        <div class="fs-5 text-uppercase">
            Check out my projects
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero culpa dignissimos fugiat minima iure id.</p>
        </div>
        <div class="text-center">
            <button class="btn btn-black px-3">Take a look</button>
        </div>
    </div>
</div>


<div class="mt-5">
    <div class="text-container mx-auto text-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id ex velit adipisci itaque rem, possimus illo alias, sint at eaque provident corporis, maiores quam. Consequatur rem aperiam voluptatum quam! Quae ipsa, dolorem, ab nisi quibusdam aliquam voluptatibus numquam nesciunt optio autem nihil ratione maxime voluptatum sapiente est cum laudantium sed.
    </div>
</div>

<div class="mt-5">
    <div class="d-flex justify-content-center">
        <i class="bi bi-javascript lh-1 fs-3 mx-2"></i>
        <i class="bi bi-file-earmark-code-fill lh-1 fs-3 mx-2"></i>
        <i class="bi bi-bootstrap-fill lh-1 fs-3 mx-2"></i>
        
    </div>
</div>


<div class="mt-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
</div>
<div class="mt-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
</div>
<div class="mt-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
</div>
<div class="mt-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
</div>



