.custom-bg-gradient{
    background-image: linear-gradient(to bottom, #ff6a00 , #ffdcc4);
}

.custom-bg-item{
    max-width: 500px;
    background-color: var(--bs-tertiary);
}

.title{
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}