<div class="p-5 text-center custom-bg-gradient text-black">

    <h2 class="fw-semibold text-uppercase m-0 p-0">Software developer</h2>
    <div class="my-2 fs-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error nihil nesciunt a odio dicta tenetur qui ullam quo repellat obcaecati?
    </div>

    
</div>

<div class="my-5">
    <!-- * * * * 2 cards * * * * -->

    <div class="container-fluid">
        <div class="row gy-3 gy-lg-0">
            <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-center justify-content-xl-end h-100">

                    <div class="rounded-4 py-3 px-4 custom-bg-item">
                        <div>
                            <div class="fs-5 text-uppercase">
                                About me
                            </div>
                            <div>
                                <p>I've spent over 5 years learning and working on software development. I consider myself a passionate guy always trying to make high quality works</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-black px-3" [routerLink]="['/about']">Take a look</button>
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-center justify-content-xl-start h-100">

                    <div class="rounded-4 py-3 px-4 custom-bg-item">
                        <div>
                            <div class="fs-5 text-uppercase">
                                Projects
                            </div>
                            <div>
                                <p>I'm into crafting useful and beautiful web applications considering at first place user needs and ideas</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-black px-3" [routerLink]="['/projects']">Take a look</button>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <div class="mt-5">
        <div class="mx-auto text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id ex velit adipisci itaque rem, possimus illo alias, sint at eaque provident corporis, maiores quam. Consequatur rem aperiam voluptatum quam! Quae ipsa, dolorem, ab nisi quibusdam aliquam voluptatibus numquam nesciunt optio autem nihil ratione maxime voluptatum sapiente est cum laudantium sed.
        </div>
    </div>

    <div class="mt-5">
        <div class="d-flex justify-content-center">
            <i class="bi bi-javascript lh-1 fs-3 mx-2"></i>
            <i class="bi bi-file-earmark-code-fill lh-1 fs-3 mx-2"></i>
            <i class="bi bi-bootstrap-fill lh-1 fs-3 mx-2"></i>
            
        </div>
    </div>

</div>




<!-- * * * * * experiments * * * * * -->


<!-- <div class="mx-4 cont mb-4">
    <div class="mt-5 block border border-primary rounded-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
    </div>

    
    <div class="mt-5 block d-flex">

        <div class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe voluptates laudantium cupiditate. Temporibus, ad repellendus aliquid nisi quis asperiores fuga. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro tempore ullam ratione explicabo doloremque nam minima quasi odit, maxime voluptates.
        </div>

        <div class="img-container rounded-4 overflow-hidden w-100">
            <img src="images/133901640096172979.jpg" alt="landscape" style="width: 100%; height: auto;">
        </div>

        
    </div>
    <div class="mt-5 block border border-primary rounded-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
    </div>
    <div class="mt-5 block">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
    </div>
    <div class="mt-5 block border border-primary rounded-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
    </div>
    <div class="mt-5 block">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
    </div>
    <div class="mt-5 block border border-primary rounded-3">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, animi aperiam! Maxime dignissimos non voluptatum nam corporis, possimus consectetur mollitia. Consequuntur deserunt dolor, repudiandae sit vero quibusdam illum quisquam cumque consequatur! Sint, porro architecto vero harum ab, sunt impedit inventore ea dolorem minus similique quas laboriosam tenetur est eveniet quo?
    </div>
</div> -->



