.custom-bg-gradient{
    background-image: linear-gradient(to bottom, #ff6a00 , #ffdcc4);
}

.custom-bg-item{

    width: 450px;
    background-color: var(--bs-tertiary);
}

.text-container{
    width: 600px;
}
